body{
	text-align: center;
 display: table;
 width: 100%;
 height: 100%;  For at least Firefox 
  /*min-height: 100%;*/
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);

}
body, div, a {
    padding:0;
    margin:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #34495e;
    color: white;
    color: #f1f1f1;
 
}

#calculator {
	background-color: #999;
	width: 310px;
	height: 600px;
	border: 3px black solid;
	margin: 10px auto;
	padding: 5px;
	border-radius: 10px;
}

#calculator2 {
	background-color: #999;
	width: 310px;
	height: 600px;
	border: 3px black solid;
	margin: 10px auto;
	padding: 5px;
	border-radius: 10px;
}

.total {
    height: 70px;
    width: 300px;
    margin:auto;
    background-color:white;
    margin-bottom: 5px;
    text-align: right;
    font-size: 60px;
    padding: 0 5px;
}

.numbers, .operators {
	margin: auto;	
}

.operators a {
	display: block;
	width: 45px;
	height: 45px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 39px;
	padding: 2px;
	margin: 5px 6px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
	border-radius: 10px;
}

.numbers a {
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 32pt;
	padding: 10px;
	margin: 5px 15px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
	border-radius: 10px;
}

.numbers_2 a {
	display: block;
	width: 250px;
	height: 50px;
	
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 32pt;
	padding: 10px;
	margin: 5px 15px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
	border-radius: 10px;
}

a:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#DCDCDC), to(#EDEDED));
    background: -moz-linear-gradient(top,  #DCDCDC,  #EDEDED);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCDCDC', endColorstr='#EDEDED');
}